.supporters_middle{
	padding-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.fullscreen-bg-video {
	position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
.bg-white {
  background-color: white;
}
.bg-quote{
	background-color: #fed136;
	display: none;
}
.quote-pic{
	max-width: 150px;
	border: 7px solid white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.quote-quote{
	padding-top: 3%;
	color: white;
}
@media (min-width: 768px) {
  .section-min-padding {
    padding: 50px 0;
  }
}
