section{
	padding: 50px 0;
}

.scoc-margin-bottom {
	margin-bottom: 55px;
}

.scoc-enlarge{
	font-size:4em;
}

.scoc-enlarge-abit {
	font-size:2em;
	margin-top:-1em;
	display:block;
}

.scoc-about-ul > li {
	padding: 5px 0;
}

section#contact {
	background-color: none;
}

#contact a {
	color:black;
}

.scoc-infographics-colored {
	background-color:#029a58;
	-webkit-border-radius: 30px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 30px;
	-moz-border-radius-bottomright: 0;
	border-radius: 30px;
	border-bottom-right-radius: 0;
}
.scoc-location-img-link {
	width:250px;
	height:250px;
	display:block;
	display:relative;
}

.first_page_background_highlight {
	background-color: rgba(2,154,88, 0.75)
}

.scoc-location-sizes {
	font-size: 1.3em;
}

#intMapBtn {
    background: #029a58;
    float: right;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.overlay {
   background:transparent; 
   position:relative; 
   z-index:100;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

.supporters_middle{
	padding-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.fullscreen-bg-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.bg-white {
  background-color: white;
}

.bg-quote{
	background-color: #fed136;
	display: none;
}

.quote-pic{
	max-width: 150px;
	border: 7px solid white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.quote-quote{
	padding-top: 3%;
	color: white;
}


.scoc-logo {
	max-width: 150px;
	margin-top: -12px;
}

.affix {
	padding: 10px 0;
}

  .scoc-about-middle, .scoc-about-middle-ignore {
	display: block;
    position: relative;
   }

header .intro-text {
	padding-top:100px;
}


  .scoc-about-middle-ignore {
  	top:0em;
  }

.scoc-vis-miss-col {
	top:2em;
}

@media (max-width: 991px) {
	.scoc-eestec-logo {
		max-width:15em;
	}
}

@media (min-width: 767px) {
  .navbar-right {
    font-size: 0.66em;
    margin-top: 6px;
  }
}

@media (min-width: 615px) {

  .navbar-custom .nav li a {
    padding: 10px 7px;
  }

	header .intro-text {
		padding-top:150px;
	}

.scoc-vis-miss-col {
	top:2em;
}

}

@media (min-width: 768px) {
  .section-min-padding {
    padding: 50px 0;
  }

	.scoc-logo {	
		max-width: 176px;
    	margin-top: -18px;
	}

	.navbar-custom.affix {
		padding: 19px 0;
	}


  .scoc-about-middle {
    top: 0.6em;
  }


	header .intro-text {
		padding-top:200px;
	}

	.modal-dialog {
		width: 60%;
	}
}

@media (min-width: 992px) {
	#ljGalleryDiv, #ljGalleryDivNext {
		top: 70px;
	}

	.scoc-logo {
		max-width: 192px;
		margin-top: -20px;
	}

  .navbar-right {
  	font-size: 0.9em;
  	margin-top: 0;
  }

  .navbar-custom .nav li a {
    padding: 15px 10px;
  }

  .scoc-about-middle-ignore {
    top: 0.6em;
  }

  .scoc-vis-miss-col {
	top:-3.4em;
}

}

#ljGalleryDiv, #ljGalleryDivNext {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    position: absolute;
    left: 0;
    top: 54px;
    width: 100%;
    height: 100%;
}

#ljGalleryDiv {
    z-index: -1000;
}
#ljGalleryDivNext {
    z-index: -2000;
}

.modal-company-desc {
	font-size: 1.3em; 
}

.modal-footer  .modal-imgs {
	padding:10px;
}

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -90px;
    /*background-color: rgba(255, 255, 255, 0.9);*/
    /*border-bottom: 1px solid #f2f2f2;*/
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  /*CHANGE COLOR WHEN SCROLLING UP*/
  .navbar-custom.is-fixed .navbar-brand {
    /*color: #333333;*/
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    /*color: #0085A1;*/
  }
  .navbar-custom.is-fixed .nav li a {
    /*color: #333333;*/
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    /*color: #0085A1;*/
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.blog-1-krogc {
    font-family: 'Helvetica Neue',Roboto,'Segoe UI',sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-weight: 700;
    height: 20px;
    line-height: 16px;
    min-width: 10px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: -6px;
    vertical-align: baseline;
    white-space: nowrap;
    width: 20px;
    word-wrap: break-word;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    background-color: #029a58;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    box-sizing: border-box;
    color: #fff;
    cursor: auto;
    display: flex!important;
    margin: 0;
    padding: 2px 8px 3px 7px;
    border-color: #fff;
    border-radius: 10px;
    border-style: none;
    border-width: 0;
}