section{
	padding: 50px 0;
}

.scoc-enlarge{
	font-size:4em;
}

.scoc-enlarge-abit {
	font-size:2em;
	margin-top:-1em;
	display:block;
}

.scoc-about-ul > li {
	padding: 5px 0;
}

.scoc-infographics-colored {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color:#E3A20B;
}

.supporters_middle{
	padding-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.fullscreen-bg-video {
	position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
.bg-white {
  background-color: white;
}
.bg-quote{
	background-color: #fed136;
	display: none;
}
.quote-pic{
	max-width: 150px;
	border: 7px solid white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.quote-quote{
	padding-top: 3%;
	color: white;
}
@media (min-width: 768px) {
  .section-min-padding {
    padding: 50px 0;
  }
}

#ljGallery{
  position:relative;
  /*width:300px;  Set your image width */
  /*height:220px;*/ /* Set your image height */
  z-index:-1000;
}
#ljGallery img{
  display:none;
  position:absolute;
  top:0;
  left:0;
}
#ljGallery img.active{
  display:block;
}


